{% extends "templates/base_page.html" %} {% block content %}
<h2>Meet new collaborators</h2>
<hr>
<div class="myContainer midContainer">
	<form action="" class="search-form">
		<div class="form-group has-feedback">
			<label for="search" class="sr-only">Search</label> <input id="search"
				type="text" class="form-control" name="search" id="search"
				placeholder="search"> <span
				class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</form>
	<input type="hidden" value = {{user_key}} id="user_key">
	<input type="hidden" value = {{user_name}} id="user_name">

	{% for profile in profile_query%}
	<div class="projectBox userBox">
		<div class="leftBox">
			{% if profile.picture %}
			<img src="/pics/{{ profile.picture }}" class="projectPic" />
			{% else %}
			<img src="/static/pics/no-image.png" class="projectPic" />
			{% endif %}
			<p>{{profile.name}}</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button"
					class="btn btn-primary projectButton addfriend">Add Friend</button>
				<input type="hidden" value="{{profile.key.urlsafe()}}">
				<input type="hidden" value="">
				
			</div>
		</div>
	</div>
	{% endfor %}


</div>


{% endblock%}
