{% extends "templates/base_page.html" %} {% block content %}
<h2>Meet new collaborators</h2>
<hr>
<div class="myContainer midContainer">
	<form action="" class="search-form">
		<div class="form-group has-feedback">
			<label for="search" class="sr-only">Search</label> <input type="text"
				class="form-control" name="search" id="search" placeholder="search">
			<span class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</form>
	<div class="projectBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Project Name</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Invite
				</button>
				<button type="button" class="btn btn-primary projectButton">Delete</button>
			</div>
		</div>
	</div>
	<div class="projectBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Project Name</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Invite
				</button>
				<button type="button" class="btn btn-primary projectButton">Delete</button>
			</div>
		</div>
	</div>
	<div class="projectBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Project Name</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Invite
				</button>
				<button type="button" class="btn btn-primary projectButton">Delete</button>
			</div>
		</div>
	</div>
	<div class="projectBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Project Name</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Invite
				</button>
				<button type="button" class="btn btn-primary projectButton">Delete</button>
			</div>
		</div>
	</div>
	<div class="projectBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Project Name</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Invite
				</button>
				<button type="button" class="btn btn-primary projectButton">Delete</button>
			</div>
		</div>
	</div>

</div>


{% endblock%}
