{% extends "templates/base_page.html" %} {% block content %}
<h2>Meet new collaborators</h2>
<hr>
<div class="myContainer midContainer">
	<form action="" class="search-form">
		<div class="form-group has-feedback">
			<label for="search" class="sr-only">Search</label> <input id="search"
				type="text" class="form-control" name="search" id="search"
				placeholder="search"> <span
				class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</form>
	<!-- Considering split the projectBox div to more different divs, probably doing this in the future-->
	<div class="projectBox userBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>George</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Add
					Friend</button>
			</div>
		</div>
	</div>
	<div class="projectBox userBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Jake</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Add
					Friend</button>
			</div>
		</div>
	</div>
	<div class="projectBox userBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Jim</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Add
					Friend</button>
			</div>
		</div>
	</div>
	<div class="projectBox userBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Mitch</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Add
					Friend</button>
			</div>
		</div>
	</div>
	<div class="projectBox userBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Max</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Add
					Friend</button>
			</div>
		</div>
	</div>

</div>


{% endblock%}
