{% extends "templates/base_page.html" %} {% block content %}
<h2>Explore new projects</h2>
<hr>
<div class="myContainer midContainer">
	<!-- Considering split the projectBox div to more different divs, probably doing this in the future-->
	<form action="" class="search-form">
		<div class="form-group has-feedback">
			<label for="search" class="sr-only">Search</label> <input id="search"
				type="text" class="form-control" name="search" id="search"
				placeholder="search"> <span
				class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</form>
	<input type="hidden" value={{user_key}} id="user_key"> <input
		type="hidden" value={{user_name}} id="user_name"> {% for
	project in projects %}
	<div class="projectBox">
	
		<div class="leftBox">
				<a href="./project-detail?project_entity_key={{ project.key.urlsafe() }}">
			
			<img src="/static/pics/test.png" class="projectPic" /> </a>
			<p>{{project.title}}</p>
			<div class="botdiv">

				<button type="button"
					class="btn btn-primary  requestJoin">Request
					to Join</button>
				<input type="hidden" value={{project.key.urlsafe()}}> <input
					type="hidden" value={{project.title}}>
			</div>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button"
					class="btn btn-primary projectButton projectDetail">View
					Details</button>

				<button type="button"
					class="btn btn-primary projectButton requestJoin">Request
					to Join</button>
				<input type="hidden" value={{project.key.urlsafe()}}> <input
					type="hidden" value={{project.title}}>
			</div>
		</div>
	</div>
	{% endfor %}
</div>


{% endblock%}
