{% extends "templates/base_page.html" %} {% block content %}
<h2>Your Current Projects</h2>
<hr>
<div class="myContainer smallContainer">
	<div id="columns">
		<table class="table">
			<thead>
				<tr>
					<th>Project</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				{% for project in project_query %}
				<tr>
					<td>{{ project.title }}</td>
					<td>{{ project.description }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
</div>

<hr>
<h2>View Project From Others</h2>
<div class="myContainer smallContainer"></div>
{% endblock%}
