{% extends "templates/base_page.html" %} {% block content %}
<h2>See your friends</h2>
<hr>
<div class="myContainer midContainer">
	<form action="" class="search-form">
		<div class="form-group has-feedback">
			<label for="search" class="sr-only">Search</label> <input id="search"
				type="text" class="form-control" name="search" id="search"
				placeholder="search"> <span
				class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</form>
	<!-- Considering split the projectBox div to more different divs, probably doing this in the future-->
	{% for profile in profile_list %}
	<div class="projectBox userBox">
		<div class="leftBox">
			<a href="./user-profile?profile_entity_key={{ profile.key.urlsafe() }}">
		
			{% if profile.picture %}
			<img src="/pics/{{ profile.picture }}" class="projectPic" />
			{% else %}
			<img src="/static/pics/no-image.png" class="projectPic" />
			{% endif %}
			</a>
			<p>{{ profile.name }}</p>
		</div>
		</a>
		<div class="rightBox">
			<div class="projectButtonBox">
				<form action="/delete-friend" method="POST">
					<input name="sender_entity_key" type="hidden" value="{{ account_info.key.urlsafe() }}">
					<input name="former-friend" type="hidden" value="{{ profile.key.parent().urlsafe() }}">
					<button type="submit" class="btn btn-warning projectButton">Remove friend</button>
				</form>
			</div>
		</div>
	</div>
	{% endfor %}
</div>


{% endblock%}
