{% extends "templates/base_page.html" %} {% block content %}
<h2>Manage Your Project</h2>
<hr>
<div class="myContainer midContainer">
	<!-- Considering split the projectBox div to more different divs, probably doing this in the future-->
	<div class="projectBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Project Name</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Invite
					</button>
				<button type="button" class="btn btn-primary projectButton">Delete</button>
			</div>
		</div>
	</div>
	<div class="projectBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Project Name</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Invite
					</button>
				<button type="button" class="btn btn-primary projectButton">Delete</button>
			</div>		</div>
	</div>
	<div class="projectBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Project Name</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Invite
					</button>
				<button type="button" class="btn btn-primary projectButton">Delete</button>
			</div>
		</div>
	</div>
	<div class="projectBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Project Name</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Invite
					</button>
				<button type="button" class="btn btn-primary projectButton">Delete</button>
			</div>
		</div>
	</div>
	<div class="projectBox">
		<div class="leftBox">
			<img src="/static/pics/test.png" class="projectPic" />
			<p>Project Name</p>
		</div>
		<div class="rightBox">
			<div class="projectButtonBox">
				<button type="button" class="btn btn-primary projectButton">Invite
					</button>
				<button type="button" class="btn btn-primary projectButton">Delete</button>
			</div>
		</div>
	</div>

</div>


{% endblock%}
