{% extends "templates/base_page.html" %} {% block content %}
<h2>Project Details</h2>
<hr>
<div class="myContainer UPContainer">
	<div class="topBox">
		<div class="leftBox up">
			<img src="static/pics/test.png">
		</div>
		<div class="rightBox up">
			<p class="profile-font">Created by:<a href="/user-profile">"Puppey"</a></p>
			<p class="profile-font">Location: Terre Haute</p>
			<p class="profile-font">Collaborators: None </p>
			<button type="button" class="btn btn-primary ">Request to Join
			</button>
		</div>
	</div>
	<div class="botBox">
		<h4>Introduction: </h4>
		<p>This project is building a platform for software developers to exchange their ideas and enable them to form teams and work together.</p>
		<h4>Current Progress:</h4>
		<p>milestone 1</p>
	</div>
</div>



{% endblock%}
