{% extends "templates/base_page.html" %} {% block content %}
<h2>Project Details</h2>
<hr>
{% if project %}
<div class="myContainer UPContainer">
	<div class="topBox">
		<div class="leftBox up">
			{% if project.picture %}
			<img src="/pics/{{ project.picture }}" class="projectPic" />
			{% else %}
			<img src="/static/pics/no-image.png" class="projectPic" />
			{% endif %}
		</div>
		<div class="rightBox up">
			{% if project.status == project.ProjectStatus.ARCHIVED %}
				<p><span>Note: this project is Archived and can no longer be edited.</span></p>
			{% elif project.status == project.ProjectStatus.COMPLETED %}
				<p><span>Note: this project is Completed and can no longer be edited.</span></p>
			{% endif %}
			<p class="profile-font">Created on: {{ project.date_created.strftime('%d-%m-%Y') }}</p>
			<p class="profile-font">Title: {{ project.title }}</p>
			<p class="profile-font">Collaborators: 
			{% for profile in profiles %}
				<div class="project_user col-sm-12 pull-left">
				<span class="profile-font"><a href="/user-profile?profile_entity_key={{ profile.key.urlsafe() }}">{{ profile.name }}</a></span>
				{% if is_administrator == True and is_active == True %}
				<input type="hidden" value="{{ project.key.urlsafe() }}">
				<button class="delete_project_user"><span class="glyphicon glyphicon-trash"></span></button>
				<input type="hidden" value="{{ profile.key.parent().urlsafe() }}">
				{% endif %}
				</div>
			{% endfor %}
			</p>
			{% if is_active == True and is_administrator == False and is_collaborator == False and active_collaboration_request == False %}
				<button type="button" class="btn btn-primary ">Request to Join</button>
			{% endif %}
			{% if is_active == True and is_administrator == False and is_collaborator == True %}
				<button type="button" class="btn btn-primary ">Leave group</button>
			{% endif %}
			{% if is_active == True and is_administrator == True %}
				<a href="#" data-toggle="modal" data-target="#insert-project-modal">
				<button type="button" class="btn btn-primary ">Edit Project</button>
				</a>
			{% endif %}
		</div>
	</div>
	<div class="botBox">
		<p>{{ project.description }}</p>
	</div>
</div>

<div class="modal fade" id="insert-project-modal" tabindex="-1" role="dialog" aria-labelledby="Edit Project">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit the project</h4>
      </div>
      <form action="{{ form_action }}" method="POST" enctype="multipart/form-data">
		<div class="modal-body row">
		  <input type="hidden" name="project_entity_key" value="{{ project.key.urlsafe() }}">
		  <div class="form-group col-sm-12">
		    <label for="image-input" class="col-sm-2">Image:</label>
		    <div class="col-sm-10">
		    {% if project.picture %}
		      <input type="hidden" name="original_blob_key" value="{{ project.picture }}">
		      <img id="img-modal-value" src="/pics/{{ project.picture }}" alt="image" height="240" border="1"><br><br>
		    {% endif %}
		      <input id="img-input" type="file" name="image">
		  	</div>
		  	<br><br>
		  	<input type="hidden" name="project_entity_key" value="{{ project.key.urlsafe() }}">
		  </div>
		  <div class="form-group col-sm-12">
		    <label for="name-input" class="col-sm-2">Title:</label>
		    <div class="col-sm-10">
		    <input type="text" class="form-control" placeholder="Project title" name="title" {% if project.title %} value="{{ project.title }}" {% endif %}>
		    </div>
		  </div>
		  <div class="form-group col-sm-12">
		    <label for="location-input" class="col-sm-2">Description:</label>
		    <div class="col-sm-10">
		    <input type="text" class="form-control" placeholder="Describe the project" name="description" {% if project.description %} value="{{ project.description }}" {% endif %}>
		    </div>
		  </div>
		  <div class="form-group col-sm-12">
		    <label for="user-input" class="col-sm-2">Users:</label>
			  <div class="collaborator-form-div col-sm-10 row">
					<div class="col-sm-9 collaborator_div pull-right">
							<input type="text" list="user_entities_data" class="form-control collaborator_input" name="project_collaborator">
					</div>
			  </div>
		  </div>
		  <div class="form-group col-sm-12">
		    <label for="administrator-input" class="col-sm-2">Administrators:</label>
		  </div>
		  {% for profile in profiles %}
		  <div class="form-group col-sm-12">
		    <label for="name-input" class="col-sm-3">{{ profile.name }}</label>
		    <div class="col-sm-1">
		    <input type="checkbox" class="form-control" name="admin_selected" value="{{ profile.key.urlsafe() }}" {% if profile.key.parent() in project.administrators %} checked {% endif %}>
		    </div>
		  </div>
		  {% endfor %}
		  <div class="form-group col-sm-12">
		    <label for="status-input" class="col-sm-2">Status:</label>
		    <div class="col-sm-10">
		      <input type="radio" name="status" value="{{ project.ProjectStatus.ACTIVE }}" checked> Active<br>
  			  <input type="radio" name="status" value="{{ project.ProjectStatus.ARCHIVED }}"> Archived<br>
  			  <input type="radio" name="status" value="{{ project.ProjectStatus.COMPLETED }}"> Completed
		    </div>
		  </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
	        <button type="submit" class="btn btn-primary">Save Changes</button>
	      </div>
      	</form>
    </div>
  </div>
</div>

{% else %}
<div>Whoops! It seems you followed a broken link.</div>
{% endif %}

<datalist id="user_entities_data">
</datalist>
{% endblock%}
