{% extends "templates/base_page.html" %} {% block content %}
<h2>User Profile</h2>
<hr>
<div class="myContainer UPContainer">
	<div class="topBox">
		<div class="leftBox up">
			<img src="static/pics/1.pic.jpg">
		</div>
		<div class="rightBox up">
			<p class="profile-font">Name: Yuzong's puppey</p>
			<p class="profile-font">Location: Terre Haute</p>
			<p class="profile-font">Date of Birth: October 21, 2015</p>
			<button type="button" class="btn btn-primary ">Send Friend Request
			</button>
		</div>
	</div>
	<div class="botBox">
		<h4>Interest: </h4>
		<p>Javascript, food</p>
		<h4>Featured Projects:</h4>
		<a href="#">SoftwareRU</a>
	</div>
</div>



{% endblock%}
